# Python-related
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.env

# Jupyter/IPython
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# CSV data or secrets (optional)
*.sqlite3
